<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnova.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/registration.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
	<base href="/">
	<title><%= title %></title>
</head>
<body>
<%- include("../partials/navbar") %>
<div id="allContent" class="expanded">
    <h1>
        I forgot my password!
    </h1>
    <div class="small-and-big">
        <ul class="big-bullets">
            <li>Forgot your password?</li>
            <li>Lost your LastPass?</li>
            <li>Some of your accounts didn't carry over the latest phone upgrade?</li>
            <li><em>We'll set you up with a new one!</em></li>
        </ul>
        <div class="quote">
            <h3 class="author">Get a Brand New Password!</h3>
            <div class="speech">
                <ol>
                    <li>Submit your email address or username.</li>
                    <li>We'll send you an email to reset your password.</li>
                    <li>Then, you can change it to whatever you want in your settings.</li>
                </ol>
                <form action="" method="POST">
                    <label for="username">Email/username</label>
                    <input type="text" name="username" id="username">
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="scripts/nav.js"></script>

</body></html>