<%- include('../partials/regiHeader'); %>
<h1>
	Create an account on Magnova!
</h1>
<h3>
	Tired of waiting on the world to change?
</h3>
<p>
	Magnova provides a number of ways to work together to build social capital, help the community, and combat global issues.
</p>
<ul>
	<li>Learn about issues that matter to you with the wiki.</li>
	<li>Share what you know by editing the wiki and adding links to existing non-profits.</li>
	<li>Use the nexus to better understand (and vote on) how different problems are interconnected.</li>
	<li>Find projects in the nexus to realize your activist goals.</li>
	<li>Help the community figure out what works by evaluating past and present projects.</li>
	<li>Complete project tasks.</li>
	<li>Donate to the projects you deem valuable.</li>
</ul>
<p><em>Magnova will always be free to use.</em></p>

<div id="registration-form">
	<form action="/auth/register" method="post" autocomplete="on">
		<div>
			<h5>
				Username
			</h5>
			<input type="text" name="username" id="user-field" autocomplete="username">
			<div id="username-checker" style="height: 40px">
				<div id="username-free" class="nodisplay">That username is free!</div>
				<div id="username-taken" class="nodisplay">Sorry, that username is taken.</div>
			</div>
		</div>
        <div>
			<h5>
				Email
			</h5>
			<input type="email" name="email" id="email-field">
			<div id="email-checker">
				<div id="email-free" class="nodisplay">That email can still be registered!</div>
				<div id="email-taken" class="nodisplay">Sorry, that email is registered on Magnova already.</div>
				<div id="email-invalid" class="nodisplay">Not a valid email address</div>
			</div>
		</div>
		<div>
			<h5>
				Password
			</h5>
			<input type="password" class="password" name="password" id="password-1" autocomplete="new-password">
            <h5>
				Confirm Password
			</h5>
			<input type="password" class="password" id="password-2">
            <div id="password-message"></div>
        </div>
        
		<button type="submit" id="submitter" class="inactive" disabled>
			Register
		</button>
        <button id="visibility-toggler" type="button" onclick="togglePasswordVisibility();">Show passwords</button>
	</form>
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="scripts/registration.js"></script>
<%- include('../partials/footer'); %>