<%- include("../partials/header") %>
<title><%= title %></title>
</head>
<body>
<div id="allContent">
    <section>
        <h1>That's Private</h1>
        <hr class="full">
    </section>
<section>
    <h3>Sorry, but we have to keep certain things blocked off. Either the page you were looking for has personal information, or you don't have permission to do the thing.</h3>
</section>

</div>
<%- include("../partials/footer") %>