<%- include('../partials/header'); %>
<h1>Nowhere is here!</h1>
<h3>Location URLs are formatted "magnova.space/locations/ID".</h3>
<p>Maybe you want to <a href="/wiki/61154178c1aa0c00156455b9">add a bug</a> to the list?</p>
<%- include('../partials/footer'); %>