<div id="action-links">
    <button onclick="listView();" class="action-link">Lists</button>
    <button onclick="boardView();" class="action-link">Boards</button>
    <button onclick="calendarView();" class="action-link">Calendar</button>
</div>