</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="/scripts/nav.js"></script>
<script src="https://cdn.tiny.cloud/1/f7o04qadc9hhjre2my3ep3ae1qdzax2od04t9ncrm7wold54/tinymce/5/tinymce.min.js" referrerpolicy="origin" wfd-invisible="true"></script>
<script src="/scripts/forum.js"></script>
<% if(startScript){ %>
    <%- startScript %>
<% } %>
</body></html>