<%- include('../partials/header'); %>
<h1>Nobody's talking here!</h1>
<p>Maybe you want to <a href="/wiki/61154178c1aa0c00156455b9">add a bug</a> to the list?</p>
<%- include('../partials/footer'); %>