<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnova.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/wiki.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
	<base href="/">
	<title><%= title %></title>
</head>
<body>
<%- include("./partials/navbar") %>
<div 
<div id="allContent" class="expanded">
    <%- include("./partials/biolinks") %>
    <h1>Magnova</h1>
    <h3>Grassroots action <span id="subtitle-marqueue">around the world</span></h3>
    <p>Magnova is an organizing platform for activists, social entrepreneurs, field experts, teachers, and innovators of all kinds. Magnova combines the principles of wikis, crowdsourcing, prediction markets, participatory democracy, and anarcho-communism to provide a website where individuals can band together to tackle large-scale problems. We believe that humanity is more than capable of solving Earth's most challenging problems, but until Magnova, we've had the wrong infrastructure for doing so.</p>
    <h2><a href="/nexus">
        Nexus
    </a></h2>
    <p>At the core of Magnova is the Nexus, a node map of issues. When you load an issue in the nexus, you can add links to other issues that cause or compose this one. Keep in mind, the links are directional. Links should start at the issue that's larger, after, or an effect, and they should and end at the issue that's smaller, before, or a cause.  Each issue stores a weighted list of connections that all users have made from it, so that the strongest links can be shown when you expand an issue node.</p>
    <h2><a href="/wiki">
        Wiki
    </a></h2>
    <p>Learn about the state of the world and your community through Magnova's Wiki. Each issue will have its own page on the wiki, where people can share different perspectives on the impact of material realities. Instead of having users vie for control over a single narrative, Magnova allows multiple points of view to be fully represented. Our platform has a clear mission and ethical principles, though, so while you might see "Food deserts add class element to the veganism debate" on the same page as "Animals suffering in factory farms", you won't see sections like "Chinese food has too much MSG" (<a href="https://fivethirtyeight.com/features/how-msg-got-a-bad-rap-flawed-science-and-xenophobia/">some PSAs are bad!</a>). </p>
    <p>This database is meant to be collaborative and adaptable. Inform others about injustices that exist in the world by identifying new issues and the information needed to address them. </p>
    <h2><a href="/project">
        Projects
    </a></h2>
    <p>How can Magnova create grassroots infrastructure? By establishing a list of things that needs to be done, and establishing a common organizing space. Instead of jumpstarting a bunch of one-off local initiatives, we want to create a central location for for practical information sharing about activist strategy. If you're already doing a project that other people might like to do too, you could help others learn from the work you put in by creating a project template on Magnova. Other users will be able to create instances of that project, making modifications and sharing what they learn from their iteration. Projects will be composed of tasks, which any user can do. Community members who volunteer their time for the social good will have their hours of work recognized. Verification of these hours will be done by verified users, which anybody can become by showing that they're a trustworthy community member and going through some onboarding—a meritocratic system that incentivizes the community to nurture its own growth. These verified users will be able to associate Skills and Badges with tasks, incentivizing participation in pulling off these social-profit jobs.</p>
    
    <h2>
        Crowdfund
    </h2>
    <p>Making things happen takes resources. When a project requires equipment, money, land, or some other form of capital, you can make a request to the community for donations. That project page will list what's needed for the project to be executed. Instead of charging "dues" by demanding a cut of every transaction, we will have our own project page to fund the co-op we plan to incorporate. Where money is involved, the only extra charge will be processing fees. In the long term, Magnova aims to make money irrelevant, however, and create a socially owned, resource-based economy. We will be developing a Resource system that lets regular people who "make a thing" to coordinate the distribution of what they make.</p>
    <p>As Magnova grows, projects will be created and implemented to produce social profit. If that profit is a commodity of some sort, people who volunteer will be welcome to the fruits of their own labor, and Magnova will eventually provide a framework for distributing any surplus to as many people as possible, starting with the people in the community who need it (most), followed by the Magnova users who want it and have put in the most hours, followed then by everybody else in the world. Yes, you heard it right: a system whose goal is to create a universal basic income of resources.</p>
    <h2>
        Infrastructure
    </h2>
    <p>The creators of Magnova hope to launch a number of sustainable initiatives to yield goods and services that can be given freely, like Universal Basic Income (UBI), to users who opt in. Implementation of these projects will be done through the website itself, putting citizens in charge of allocating socially owned tools and resources.</p>

</div>
<script src="https://d3js.org/d3.v4.js"></script>
<!-- <script src="scripts/forceGraph.js"></script> -->
<script src="scripts/nav.js"></script>
</body></html>