<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnova.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/wiki.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
	<base href="/">
	<title><%= title %></title>
</head>
<body>
<%- include("./partials/navbar") %>
<div 
<div id="allContent" class="expanded">
    <%- include("./partials/biolinks") %>
    <h1>Magnova</h1>
    <h3>Grassroots action <span id="subtitle-marqueue">around the world</span></h3>
    <p>Magnova is an organizing platform for activists, social entrepreneurs, field experts, teachers, and innovators of all kinds. Magnova combines the principles of wikis, crowdsourcing, prediction markets, participatory democracy, and anarcho-communism to provide a website where individuals can band together to tackle large-scale problems. We believe that humanity is more than capable of solving Earth's most challenging problems, but until Magnova, we've had the wrong infrastructure for doing so.</p>
    <h2>
        Nexus
    </h2>
    <p>At the core of Magnova is the Nexus, a node map of issues. When you load an issue in the nexus, you can add links to other issues that cause or compose this one. Each issue stores a weighted list of connections that all users have made from it, so that the strongest links can be shown when you expand an issue node.</p>
    <p></p>
    <p></p>
    <h2>
        Wiki
    </h2>
    <p>Learn about the state of the world and your community through Magnova's Wiki. Each issue will have its own page on the wiki, where people can share different perspectives on the impact of material realities. Instead of having users vie for control over a single narrative, Magnova allows multiple points of view to be fully represented. Our platform has a clear mission and ethical principles, though, so while you might see "Food deserts add class element to the veganism debate" on the same page as "Animals suffering in factory farms", you won't see sections like "Chinese food has too much MSG" (<a href="https://fivethirtyeight.com/features/how-msg-got-a-bad-rap-flawed-science-and-xenophobia/">some PSAs are bad!</a>). </p>
    <p>This database is meant to be collaborative and adaptable. Inform others about injustices that exist in the world by identifying new issues and the information needed to address them. </p>
    <h2>
        Projects
    </h2>
    <p></p>
    <h2>
        Crowdfund
    </h2>
    <p>Making things happen takes resources. When a project requires equipment, money, land, or some other form of capital, you can make a request to the community for donations. That project page will list what's needed for the project to be executed. When money is involved, Magnova takes 5%. That will cover processing fees, the labor that will develop Magnova, as well as a donation to a social fund that is used to fund more projects. Two long term goals of Magnova are to:</p>
    <ol>
        <li>Implement sustainable initiatives for producing UBI in the form of resources</li>
        <li></li>
    </ol>
    <h2>
        Infrastructure
    </h2>
    <p>The creators of Magnova hope to launch a number of sustainable initiatives to yield goods and services that can be give freely, like Universal Basic Income (UBI), to users who opt in. Implementation of these projects will be done through the website itself, putting citizens in charge of allocating socially owned 

</div>
<script src="https://d3js.org/d3.v4.js"></script>
<!-- <script src="scripts/forceGraph.js"></script> -->
<script src="scripts/nav.js"></script>
</body></html>