<%- include('./partials/header'); %>
<%- include("./partials/biolinks") %>
<h1>Methodology</h1>
</p>On top of our moral values outlined on this page, we seek to take full advantage of scientific method in our fundamental design, and hope to empower users with data-driven approaches to solving problems. Magnova will eventually have a system of measuring projects by a number of metrics, so that different projects can be compared by things like “years of life added” or “hours of work eliminated”. Users with different priorities can contribute to projects that match their own agenda.</p>
<h3>Scientific method on Magnova:</h3>
<ol>
    <li><strong>Observe</strong> – Action on Magnova starts with an observation of the problem in the world that needs to be addressed. Breaking larger issues down into smaller ones is like adjusting the magnification of a microscope.</li>
    <li><strong>Background research</strong> – The wiki section is where people can collectively identify various features of each issue, setting the stage for strategy.</li>
    <li><strong>Hypothesis</strong> – Projects are where users formulate tactics for addressing the issues. Each one is essentially a hypothesis: “Project X, made up of tasks A, B, and C, will solve Issue Y”.</li>
    <li><strong>Experiment</strong> – The tasks that make up a project allow for the crowdsourcing of an experiment. The change proposed in the project is made, and results from projects can then be gathered and the project’s effects are measured.</li>
    <li><strong>Review and troubleshoot procedure</strong> – Task completion will be made verifiable by a trusted party where applicable to ensure that the project is being carried out as stated. Because tasks are independently completed, they can be edited, removed, or added at any time, by anybody. If you have a better approach for a project, just create that task and sign up to do it!</li>
    <li><strong>Analyze data</strong> – Magnova will have a database of metrics that can be used, with the ability to submit new ones, allowing for the standardization of data collection. When a project is finished, it remains as a record to learn from. In the case of ongoing projects (e.g. annual organization of a farm market), you will be able to view their history to analyze trends or post recurring tasks/timeslots for volunteering.</li>
    <li><strong>Communicate results</strong> – A key intended feature in the project workflow is a wizard for recreating past projects in a new setting. Our developer plans to find ways of integrating the data that’s collected from different completed projects to algorithmically suggest improvements when copying a prior project. Ultimately though, each new project is its own endeavor, in the hands of the people who choose to do it.</li>
</ol>
<%- include("./partials/footer"); %>