<%- include("./partials/header"); %>
<h1>Privacy on Magnova</h1>
<p>No fancy legal language here! Magnova will never sell personal information. We don't do ads, so there is no ad targeting.</p>
<p>Passwords are encrypted.</p>
<p>Presently, the only cookie we use is to save the state of the Nexus whenever you make changes to the node graph.</p>
<%- include("./partials/footer"); %>