<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnova.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
	<base href="/">
	<title><%= title %></title>
</head>
<body>
<%- include("./partials/navbar") %>
<div id="allContent" class="expanded">
    <%- include("./partials/biolinks") %>
    <h1>Magnova's Values</h1>
    <p></p>
    <p>This platform is not unbiased. Its purpose is to maximize the dignitity and well-being of all sentient life. To the best of our ability, Magnova will help people and projects aiming to better the world. Our meaning of a “better world” is outlined by the values below. While it’s broad, it does entail that there are certain things you can't do or say on this website, in particular violence or bigotry (whether intentional or not). Misanthropic and exploitative endeavors are forbidden.</p>
    <h2>The obvious ones</h2>
        <h3>Prosperity</h3>
            <p>Everybody wants to live a fulfilling life. Magnova’s mission is to make that possible. One of the greatest prisons is that of the economy, and freeing us from those shackles will take a massive orchestration of economic empowerment of the working class, people with disabilities, and activists. We hope to transition society to one of freely accessible infrastructure, resources, and social services for all, by building what doesn’t yet exist ourselves.</p>
        <h3>Human rights</h3>
            <p>Society should help people live their best lives. Earth is a prosperous and bountiful planet with ample resources for everybody to thrive, and this incredible potential is squandered by inequality. Magnova is a place for orchestrating a defense and expansion of human rights. We stand against discrimination, poverty, homelessness, climate change, violence, and other suffering.</p>
        <h3>Peace</h3>
            <p>Governments and corporations around the world commit numerous acts of violence, whether directly or indirectly. One form of that violence (starvation) is through the payment of sub-living wages. Another is the mass incarceration of black Americans for slave labor by the US government at various levels. Even if some direct violence can’t be defended against peacefully, Magnova is <strong>not</strong> the platform for organizing violence of any fashion against persons or property. This platform’s ability to stay online would be threatened if it were used for any illegal or violent activities, and the good work it can do could be shut down.</p>
        <h3>Community</h3>
            <p>The happiest people are those who are surrounded by love. Human prosperity is synonymous with a healthy community. Magnova is thus designed around helping people make connections with one another, find belonging, and escape the loneliness of a jungle economy.</p>

    <h2>The values that will turn some people away</h2>
        <h3>Anti-hierarchy</h3>
            <p>We believe in a world without hierarchies of people, without class, without subjugation. Magnova aims to replace exploitative hierarchies like patriarchy, racism, and plutocracy with intersectional justice and free access to living essentials.</p>
        <h3>Social ownership</h3>
            <p>Capitalism is an economic system based largely on the concept of “private ownership” of things used to create value, such as machines, computers, tools, or space. Contrasted to “personal”, “public”, or “social” ownership, private ownership is a cultural agreement that the value created through work doesn’t belong to the workers, but to the wealthy people who are said to “own” the business. Wealthy capitalists have a monopoly on virtually every industry, and virtually every job, meaning that most people must buy into this exploitation to afford living essentials. Our alternative is a system of helping people learn how to create certain living essentials on their own terms, and distribute the surplus to the community instead of hoarding it for sale. This will require us to create, acquire, and accumulate tools and space to produce things and make things happen.</p>
        <h3>Social profit</h3>
            <p>We propose a different agreement: where the community shares access to the means of production, anybody can keep what they make, and surplus products or services will be freely distributed to those who would like them.</p>
        <h3>Free life</h3>
            <p>Everybody should be able to live a happy life. Such a simple human right shouldn’t be behind a paywall. Providing living essentials to everyone should be the bare minimum of any civilization, yet it is impossible through capitalism. A monopoly over jobs gives wealthy business owners the ability to pay a sub-living wage, meaning many people don’t have the opportunity to afford life no matter how hard they work. To remove the price tag from the act of being alive, we are committed to finding ways for all the necessities of life to be given to everyone, at no cost, with no strings attached.</p>
        <h3>Accountability</h3>
            <p>Certain design choices have been made to help people hold each other accountable, and to establish certain baselines for trustworthiness. User profiles will store various data about what they have done and how accountable they have been in the past. Tasks left incomplete after funds were given will show up. So will their proudest feats of activism and donations they have made. Other such measures will be put in place to make sure people do with donations what they say they will. When the people working on a project request donations, potential donors can check the recipients’ profiles to build trust.</p>
        <h3>Demarginalization</h3>
            <p>Democracy, where a populace casts their votes and the majority preference is canonized as law, generally marginalizes minorities and allows for entire communities to be legally discriminated against. We reject simple majority rule, replacing it with (a) a system of simultaneous action and (b) scientific metrics. Issues and projects have their own public pages with hyperlinks, and they can both be created by anybody. Nobody is ever prevented from organizing and getting stuff done just because their project isn’t the most popular. Once Magnova has enough data and gets to a further point in development, code will take advantage of metrics to bring attention to particularly bad issues affecting a minority of people. Data from previous projects will also be synthesized to help create new projects.</p>
        <h3>Environmental stewardship</h3>
            <p>Earth is precious. Magnova is aligned with a flourishing planet for all of its inhabitants. Our platform strongly encourages activism towards reducing fossil fuels, ameliorating wild animal suffering, habitat preservation, etc. Keep in mind that environmental activism on this platform should always respect indigenous peoples’ autonomy as a matter of human rights that takes precedence.</p>
        <h3>Scientific methodology</h3>
            <p>Activism for the people needs a framework as sturdy as that of colonialist plutocracy. Engineering such an artifice requires scientific attention to the logic of economic, political, and social forces. Magnova revolves around bolstering the community to pull off remarkable feats despite the massive inequalities that disenfranchise us. It applies the scientific method to grassroots activism and serves as a nexus for turning community sentiment into community action. Forum-like discussion has a role to play, but on Magnova it takes a backseat to what’s actionable: mapping out issues, inventing projects, and delegating tasks. We plan to employ a system of metrics for better defining the gravity of problems in the world, as well as the benefits of Magnova-powered projects. Users will be able to add custom metrics, and common ones will be standardized. Members of the community where such action happens will be able to put in data about issues, projects, or tasks.</p>
    
    <h2>Some issues we care about</h2>
        <ul>
            <li>Human rights</li>
            <li>Climate change and ecology</li>
            <li>Housing and food security</li>
            <li>Universal basic income</li>
            <li>Racism</li>
            <li>Transphobia</li>
            <li>Ableism</li>
            <li>Homophobia</li>
            <li>Healthcare</li>
            <li>Free and open-access innovation</li>
            <li>Education</li>
            <li>Public transportation</li>
            <li>Animal suffering</li>
        </ul>
    
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<!-- <script src="scripts/forceGraph.js"></script> -->
<script src="scripts/nav.js"></script>
</body></html>