/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*   google fonts declarations
====================================
font-family: 'Caveat', cursive;
font-weight: 400;
font-weight: 700;
font-family: 'Orbitron', sans-serif;
font-weight: 500;
font-weight: 900;
font-family: 'Oxygen', sans-serif;
font-weight: 400;
font-weight: 700;
==================================== */

 /* Variables */

 :root {
	--menutwist: 0deg;

    --loaderXRotation: 0deg;
    --loaderYRotation: -15deg;
    --loaderZRotation: 0deg;
}

  /* ========================= */
 /* general component styling */
/* ========================= */

* {
	margin: 0;
	padding: 0;
    font-size: inherit;
	/* transition: all .5s; */
}

body {
	background: -o-linear-gradient(100deg, rgb(209, 105, 2), rgba(94, 49, 105, 1) 40%, rgba(44, 23, 136, 1) 80%, rgba(46, 8, 77, 1));
	background: linear-gradient(-10deg, rgb(209, 105, 2), rgba(94, 49, 105, 1) 40%, rgba(44, 23, 136, 1) 80%, rgba(46, 8, 77, 1));
    background-color: rgb(46, 8, 77);
    font-family: 'Poppins', sans-serif;
	color: lavender;
	font-weight: 400;
    font-size: 20px;
    min-height: 100vh;
    /* You can toggle this to test colorblind accessibility */
    /* filter: grayscale(1);  */
}
#allContent {
	text-align: center;
	margin-right: 50px;
	margin-left: 50px;
    margin-bottom: 250px;
	padding: 50px 20px 20px 150px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
/* #allContent.expanded {
	margin-right: 260px;
	margin-left: 0px;
	margin-left: 0px;
}  */
#bio-links {
	-ms-flex-line-pack: center;
	    align-content: center;
	height: 70px;
	width: 50%;
	margin: 0 auto 50px auto;
	border-radius: 1.5% / 40%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	align-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s
}
#bio-links:hover {
	background-color: rgb(129, 107, 167);
}
.bio-link {
	height: 40px;
	-webkit-box-flex: 0;
	    -ms-flex: 0 1 150px;
	        flex: 0 1 150px;
	font-style: italic;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius: 3px;
	background-color: rgb(83, 68, 104);
	-webkit-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}
.bio-link:hover {
	background-color: rgb(51, 39, 61);
}

#qr img {
    float: left;
    margin-right: 30px;
}
section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
    margin-top: 20px;
    margin-bottom: 40px;
}
input, textarea, button{
	padding: 5px;
	-webkit-transition: outline .5s ease-out;
	-o-transition: outline .5s ease-out;
	transition: outline .5s ease-out;
    font-size: 20px;
}
input, textarea {
    font-family: 'Poppins', sans-serif;
}
input[type=checkbox]{
    width: 40px;
    height: 40px;
    margin: 0 10px 0 40px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	font-family: 'Montserrat', sans-serif;
}
input::-moz-placeholder, textarea::-moz-placeholder {
	font-family: 'Montserrat', sans-serif;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	font-family: 'Montserrat', sans-serif;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
	font-family: 'Montserrat', sans-serif;
}
input::placeholder, textarea::placeholder {
	font-family: 'Montserrat', sans-serif;
}
button {
	/* z-index: 5; */
	/* width: 100px; */
	/* height: 100px; */
	background-color: #c898ed;
	border: none;
	border-radius: 6px;
	-webkit-box-shadow: 0px 6px #8865a3;
	        box-shadow: 0px 6px #8865a3;
	color: white;
	text-shadow: black 0px 2px 4px;
    font-family: 'Montserrat', sans-serif;
	/* font-size: 25px; */
	-webkit-transition: border-radius .2s, top .2s, left .2s, font-size .5s, -webkit-box-shadow .2s, -webkit-transform .2s;
	transition: border-radius .2s, top .2s, left .2s, font-size .5s, -webkit-box-shadow .2s, -webkit-transform .2s;
	-o-transition: border-radius .2s, box-shadow .2s, top .2s, left .2s, font-size .5s, transform .2s;
	transition: border-radius .2s, box-shadow .2s, top .2s, left .2s, font-size .5s, transform .2s;
	transition: border-radius .2s, box-shadow .2s, top .2s, left .2s, font-size .5s, transform .2s, -webkit-box-shadow .2s, -webkit-transform .2s;
	-webkit-transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790);
	     -o-transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790);
	        transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790);
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;
	-webkit-transform-origin: bottom;
	    -ms-transform-origin: bottom;
	        transform-origin: bottom;
    cursor: pointer;
}
button:hover {
	-webkit-box-shadow: 0px 4px #8865a3;
	        box-shadow: 0px 4px #8865a3;
	-webkit-transform: translateY(2px);
	    -ms-transform: translateY(2px);
	        transform: translateY(2px);
}
button:active {
	-webkit-transform: translateY(6px);
	    -ms-transform: translateY(6px);
	        transform: translateY(6px);
	-webkit-box-shadow: none;
	        box-shadow: none;
}
button:focus {
	outline: none;
}
a {
	color: rgb(174, 247, 225);
	text-decoration: none;
    transition: color .5s ease-out;
}
a:visited {
	color: rgb(96, 202, 170);
}
a:hover, a:visited:hover {
    color: rgb(255, 255, 78);
}
h1, h2, h3, h4, h5, h6, p {
	display: block;
}
h1 {
	font-size: 70px;
	padding: 20px;
	-webkit-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
    border-bottom: 5px solid rgb(160, 100, 216);
    margin-bottom: 20px;
}
h2 {
	text-align: left;
	font-size: 40px;
	padding: 10px;
	margin: 15px 0;
}
h2 em {
	font-size: 40px;
}
h3 {
	font-size: 30px;
    margin: 30px auto 30px auto;
}
hr {
    height: 0px;
    width: 80%;
    margin: 30px auto 30px auto;
    padding: 0;
    border: none;
    border-top: 5px solid rgba(160, 100, 216, .5);
    border-radius: 5px;
    outline: none;

}
ul {
	list-style: none;
	text-align: left;
	margin: 15px auto;
}
ol {
	text-align: left;
	margin: 15px auto;
	padding: 0 10% 0 10%;
}
section ul {
	margin-left: 80px;
}
p {
	text-align: left;
	-webkit-transition: width 0s;
	-o-transition: width 0s;
	transition: width 0s;
	text-indent: 50px;
    max-width: 1500px;
}
li {
	margin-bottom: 20px;
}
.hidden {
    visibility: hidden;
}
.nodisplay {
	display: none;
}

  /* ============= */
 /* style classes */
/* ============= */


.advice {
    background-color: rgba(145, 0, 109, 0.815);
    border-radius: 30px 0 30px 0;
    margin: 15px auto;
    padding: 25px;
    width: 600px;
    opacity: .5;
    transition: width .5s ease-out, opacity .5s ease-out;
}
.advice > * {
    margin: 0;
}
.advice >*:first-child {
    margin-bottom: 15px;
}
.advice:hover {
    opacity: 1;
}
.advice a {
    color: rgb(107, 196, 255);
}
@media screen and (max-width: 700px){
    .advice {
        width: 400px;
    }
}

.cyber {
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
	color: #87e386;
	background-color: #290252;
	border: 5px solid white;
	border-radius: 0 40px;
}
.cyber strong {
	font-weight: 900;
}
.cyber h1 {
	background-image: url(https://images3.alphacoders.com/186/186199.jpg);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: contain;
	color: rgba(135, 227, 134, .5);
}

img.mockup {
    max-width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.notebook {
	font-family: 'Caveat', cursive;
	font-weight: 400;
}
.notebook strong {
	font-weight: 700;
}

  /* ============= */
 /* Loading Cubes */
/* ============= */

.loading-bar {
    /* display: flex; */
    /* flex-flow: row nowrap; */
    perspective: 1000px;
    /* width: 100%; */
    /* justify-content: space-evenly; */
    /* padding-top: 100px; */
}

div.meta-cube {
    height: 100px;
    width: 100px;
    margin: 25px;
    transform: rotateX(var(--loaderXRotation)) rotateY(var(--loaderYRotation)) rotateZ(var(--loaderZRotation));
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(0.415, 0.975, 0.350, 1.35);
    transform-origin: center;
}
.cube {
    height: 100px;
    flex: 0 0 100px; 
    transform-style: preserve-3d;
    transition: transform .5s cubic-bezier(0.415, 0.975, 0.350, 1.35);
    transform-origin: center;
}
.cube.turned-up {
    transform: rotateX(90deg);
}
.cube .face {
    background-color: black;
}
.face {
    position: absolute;
    height: 100px;
    width: 100px;
    transform-origin: center;
    transition: transform .5s ease, height .5s ease, width .5s ease;
    transform-style: preserve-3d;
    border-radius: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .face p {
    transform: rotateZ(calc(var(--loaderZRotation) * -1));
    transition: transform 1s cubic-bezier(0.415, 0.975, 0.350, 1.175);
    transform-origin: center;
    text-align: center;
    text-indent: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  div.cube .face:nth-child(1) {
      top: 0px;
      left: 0px;
      background-color: rgb(223, 95, 216);
      transform: translateZ(50px);
  }
  div.cube div.face:nth-child(2) {
      top: 50px;
      left: 0px;
      transform: rotateX(-90deg);
      background-color: rgb(14, 168, 14);
  }
  div.cube div.face:nth-child(3) {
      top: 20px;
      left: 20px;
      width: 60px;
      height: 60px;
      transform: translateZ(-50px);
      background-color: rgb(212, 157, 223);
  }
  div.cube div.face:nth-child(4) {
      top: -30px;
      left: 20px;
      transform: rotateX(90deg);
      background-color: rgb(0, 85, 4);
      width: 60px;
      height: 60px;
  }
  div.cube div.face:nth-child(5) {
      top: 20px;
      left: -30px;
      transform: rotateY(-90deg);
      background-color: rgb(158, 25, 118);
      width: 60px;
      height: 60px;
  }
  div.cube div.face:nth-child(6) {
      top: 20px;
      left: 70px;
      transform: rotateY(90deg);
      background-color: rgb(9, 120, 148);
      width: 60px;
      height: 60px;
  }


  /* ============= */
 /* sidebar stuff */
/* ============= */

#sidebar {
	z-index: 1001;
	background-color: rgb(166, 79, 120);
	position: fixed;
	left: 0;
	top: 0;
	width: 150px;
	height: 100vh;
	border-radius: 0 10px 10px 0;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
	-webkit-transition: .5s all ease-out, .5s height cubic-bezier(0.560, 1.650, 0.570, 0.790);
	-o-transition: .5s all ease-out, .5s height cubic-bezier(0.560, 1.650, 0.570, 0.790);
	transition: .5s all ease-out, .5s height cubic-bezier(0.560, 1.650, 0.570, 0.790);
}
#sidebar.squeezed {
	-webkit-transform: scaleX(1.1);
	    -ms-transform: scaleX(1.1);
	        transform: scaleX(1.1);
}
#sidebar.collapsed {
	opacity: 0;
	-webkit-transform: scaleX(0);
	    -ms-transform: scaleX(0);
	        transform: scaleX(0);
}
#sidebar.peeking {
	opacity: 1;
	-webkit-transform: scaleX(.15);
	    -ms-transform: scaleX(.15);
	        transform: scaleX(.15);
}
#sidebar ul {
	opacity: 1;
	text-align: center;
	margin-top: 140px;
	margin-bottom: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: calc(100% - 160px);
	-webkit-transition: opacity 1s, margin-top .5s;
	-o-transition: opacity 1s, margin-top .5s;
	transition: opacity 1s, margin-top .5s;
}
#sidebar.collapsed ul {
	opacity: 0;
}
#sidebar ul li {
	width: 150px;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
	-webkit-transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790);
	     -o-transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790);
	        transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790);
}
#sidebar ul li a {
	display: block;
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	height: 40px;
	color: white; 
	-webkit-transition: .5s all; 
	-o-transition: .5s all; 
	transition: .5s all;
	-webkit-transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790);
	     -o-transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790);
	        transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790);
}
#sidebar a:visited {
	color: white;
}
#sidebar-toggler {
	position: fixed;
	left: 15px;
	top: 15px;
	margin: none;
	z-index: 1002;
	width: 100px;
	height: 100px;
	background-color: rgb(139, 17, 74);
	border: none;
	border-radius: 6px;
	-webkit-box-shadow: -6px -6px rgb(97, 12, 52);
	        box-shadow: -6px -6px rgb(97, 12, 52);
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	/* transition-timing-function: cubic-bezier(0.560, 1.650, 0.570, 0.790); */
	-webkit-transition: border-radius .2s, top .2s, left .2s, font-size .5s, -webkit-box-shadow .2s, -webkit-transform .5s;
	transition: border-radius .2s, top .2s, left .2s, font-size .5s, -webkit-box-shadow .2s, -webkit-transform .5s;
	-o-transition: border-radius .2s, box-shadow .2s, top .2s, left .2s, font-size .5s, transform .5s;
	transition: border-radius .2s, box-shadow .2s, top .2s, left .2s, font-size .5s, transform .5s;
	transition: border-radius .2s, box-shadow .2s, top .2s, left .2s, font-size .5s, transform .5s, -webkit-box-shadow .2s, -webkit-transform .5s;
	-webkit-transform-origin: top left;
	    -ms-transform-origin: top left;
	        transform-origin: top left;
}
#sidebar-toggler:hover {
	-webkit-box-shadow: -4px -4px rgb(97, 12, 52);
	        box-shadow: -4px -4px rgb(97, 12, 52);
	left: 13px;
	top: 13px;
	/* animation-name: jiggle;
	animation-duration: 2.5s;
	animation-iteration-count: 5; */
}
#sidebar-toggler:active {
	left: 9px;
	top: 9px;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

@-webkit-keyframes reveal-toggler {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
		        transform: scale(0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
}

@keyframes reveal-toggler {
	0% {
		opacity: 0;
		-webkit-transform: scale(0, 0);
		        transform: scale(0, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1, 1);
		        transform: scale(1, 1);
	}
}
@-webkit-keyframes open-nav {
	0% {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
	100% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
}
@keyframes open-nav {
	0% {
		-webkit-transform: scaleX(0);
		        transform: scaleX(0);
	}
	100% {
		-webkit-transform: scaleX(1);
		        transform: scaleX(1);
	}
}
@-webkit-keyframes jiggle {
	0%, 20%, 75% {
		-webkit-transform: rotate(0) scale(1);
		        transform: rotate(0) scale(1);
	}
	35% {
		-webkit-transform: scale(.95);
		        transform: scale(.95);
	}
	50% {
		-webkit-transform: scale(1.05);
		        transform: scale(1.05);
	}
}
@keyframes jiggle {
	0%, 20%, 75% {
		-webkit-transform: rotate(0) scale(1);
		        transform: rotate(0) scale(1);
	}
	35% {
		-webkit-transform: scale(.95);
		        transform: scale(.95);
	}
	50% {
		-webkit-transform: scale(1.05);
		        transform: scale(1.05);
	}
}

  /* ====================== */
 /* User info/auth styling */
/* ====================== */

#user-bar {
	position: fixed;
	z-index: 8;
	top: 15px;
	right: 15px;
	height: 50px;
    width: 400px;
	background-color: rgb(139, 17, 74);
	border-radius: 0 8px 0 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
	-webkit-transition: .5s ease transform, .3s ease-out width;
	-o-transition: .5s ease transform, .3s ease-out width;
	transition: .5s ease transform, .3s ease-out width;
	-webkit-transform-origin: top right;
	    -ms-transform-origin: top right;
	        transform-origin: top right;
}
#user-bar.collapsed {
    width: 60px;
}
#user-bar div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#user-bar div * {
	margin: 0 10px;
	font-size: 1.1rem;
	font-family: 'Montserrat', sans-serif;
    vertical-align: middle;
}
#logged-in, #logged-out {
    overflow: hidden;
    flex: 0 1 100%;
    transition: flex .3s ease-out;
    display: flex;
    justify-content: space-evenly;
}
#logged-in a {
    flex: 0 1 50px;
    width: 100%;
    transition: width .3s ease-out, color .5s ease-out;
    display: flex;
    justify-content: center;
}
#logged-in.collapsed {
    flex: 0 1 0;
}
#logged-in.collapsed a {
    width: 0;
}
#user-bar div a, #user-bar div a:visited {
    color: rgb(238, 203, 247);
}
#user-bar div a:hover, #user-bar div a:visited:hover {
    color: rgb(255, 255, 78);
}
#user-avatar {
    width: 40px;
    height: 40px;
    margin: 5px 10px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
}

/* for login page */
#login-form form button {
    margin-top: 20px;
}

#header-links {
    position: absolute;
    top: 40px;
    left: 180px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}
#header-links * {
    background-color: rgba(169, 126, 204, .7);
    -webkit-box-shadow: 0px 0px 7px 7px rgba(169, 126, 204, .7);
            box-shadow: 0px 0px 7px 7px rgba(169, 126, 204, .7);
    -webkit-transition: -webkit-box-shadow .5s ease;
    transition: -webkit-box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
    transition: box-shadow .5s ease, -webkit-box-shadow .5s ease;
    padding: 8px;
    border-radius: 8px;
}
#header-links *:hover {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(169, 126, 204, .7);
            box-shadow: 0px 0px 3px 3px rgba(169, 126, 204, .7);
}
  /* ================ */
 /* Flash formatting */
/* ================ */

.flash {
	z-index: 10;
	position: absolute;
	min-height: 100px;
	width: 30%;
	margin: 45px 30%;
	border-radius: 10px;
	-webkit-animation: fade-pop 3s 1s ease-in backwards;
	        animation: fade-pop 3s 1s ease-in backwards;
	-webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

.flash.success {
	background-color: seagreen;
}
.flash.failure {
	background-color: mediumorchid;
}

@-webkit-keyframes fade-pop {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}

	80% {
		opacity: 0.4;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
}

@keyframes fade-pop {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}

	80% {
		opacity: 0.4;
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(0);
		        transform: scale(0);
	}
}

  /* ========================== */
 /* Small screen style changes */
/* ========================== */

@media screen and (max-height: 450px){
	#user-bar {
		transform: scale(.8);
	}
	#sidebar-toggler {
		-webkit-transform: scale(.7);
		    -ms-transform: scale(.7);
		        transform: scale(.7);
	}
	#sidebar ul {
		margin-top: 140px;
	}
}
@media screen and (max-height: 300px){
	#sidebar-toggler {
		-webkit-transform: scale(.5) translateY(-42px);
		    -ms-transform: scale(.5) translateY(-42px);
		        transform: scale(.5) translateY(-42px);
	}
	
	#sidebar ul {
		-webkit-transform: rotate(var(--menutwist));
		    -ms-transform: rotate(var(--menutwist));
		        transform: rotate(var(--menutwist));
		margin-top: 100px;
		/* margin-bottom: 0; */
	}
}
@media screen and (max-width: 1000px){
    h1 {
		font-size: 60px;
	}
	h2, h2 em {
		font-size: 35px;
	}
	h3 {
		font-size: 25px;
	}
	#allContent, #allContent.expanded {
        padding-left: 100px;
        margin-left: 25px;
    }
	#user-bar {
		transform: scale(.8);
	}
	#header-links {
		transform: translate(-50px, -10px) scale(.9);
	}
}
@media screen and (max-width: 800px){
	h1 {
		font-size: 50px;
	}
	h2, h2 em {
		font-size: 30px;
	}
	h3 {
		font-size: 22px;
	}
}
@media screen and (max-width: 650px){
	#allContent, #allContent.expanded {
		padding-left: 15px;
        margin-left: 20px;
        margin-right: 20px;
	}
	#allContent h1, #allContent.expanded h1 {
		font-size: 35px;
		/* margin-left: 0px; */
	}
	#sidebar {
		-webkit-animation: none;
		        animation: none;
		width: 100px;
	}
	#sidebar-toggler {
		-webkit-transform: scale(.5) translate(-25px, -25px);
		    -ms-transform: scale(.5) translate(-25px, -25px);
		        transform: scale(.5) translate(-25px, -25px);
		font-size: 30px;
	}
	#user-bar {
		-webkit-transform: scale(.6) translate(20px, -20px);
		    -ms-transform: scale(.6) translate(20px, -20px);
		        transform: scale(.6) translate(20px, -20px);
	}
	#conrols {
		-webkit-transform: scale(.4);
		    -ms-transform: scale(.4);
		        transform: scale(.4);
	}
	#sidebar ul li a {
		font-size: 1rem;
		height: 27px;
		color: white; 
	}
    #header-links {
        -webkit-transform: translate(-130px, -25px) scale(.7);
            -ms-transform: translate(-130px, -25px) scale(.7);
                transform: translate(-130px, -25px) scale(.7);
    }
}
@media screen and (max-height: 400px){
	#sidebar {
		height: 100%;
	}
}
@media screen and (max-height: 450px){
	#sidebar ul li a {
		font-size: 1rem;
		width: 100%;
		height: 27px;
		color: white; 
	}
}
@media screen and (max-height: 300px){
	#sidebar-toggler {
		-webkit-transform: scale(.5) translate(-25px, -25px);
		    -ms-transform: scale(.5) translate(-25px, -25px);
		        transform: scale(.5) translate(-25px, -25px);
	}
	#sidebar {
		width: 150px;
	}
	#sidebar ul li {
		margin-bottom: 5px;
	}
}