ul {
    text-align: left;
    list-style-type: disc;
}
li {
    margin: 5px;
}
h3 {
    margin: 10px 20px 20px 20px;
}
p {
    margin: 10px 20px 20px 20px;
}
#registration-form > form > div {
    margin-bottom: 20px;
}
button.inactive, button.inactive:hover {
    background-color: rgb(140, 140, 140);
    box-shadow: 0px 4px rgb(80, 80, 80);
    cursor: not-allowed;
    transform: translate(0, 0);
}