:root {
    --editorHeight: 0px;
}

#new-thread-zone {
    margin: 40px auto;
}
.threader {
    flex: 1 0 125px;
}
.thread {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
    width: 80%;
    height: 156px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgb(97, 63, 124);
    border: 2px solid rgb(186, 131, 211);
    border-radius: 30px;
    cursor: zoom-in;
}
#thread-title {
    margin-left: 50px;
}
.comment{
    background-color:rgb(24, 100, 201);
    width: 90%;
    margin: 15px auto;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
}
.your-comment {
    background-color: rgb(19, 138, 58);
}
.threader, .preview-text, .preview-text * {
    font-size: 16px;
    transition: font-size .3s ease-in-out;
}
.threader, .first-comment, .last-comment {
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
}
.comment-previews {
    flex: 2 2 80%;
    height: 156px;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}
.first-comment, .last-comment {
    flex: 2 2 40%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 15px;
}
.first-comment {
    background-color:rgb(115, 60, 218);
    border-radius: 20px 20px 0 0;
    border-top: 1px solid rgb(225, 199, 247);
    border-left: 3px solid rgb(225, 199, 247);
    border-right: 3px solid rgb(225, 199, 247);
    border-bottom: 5px dashed rgb(56, 28, 78);
}
.last-comment{
    background-color:rgb(115, 60, 218);
    border-radius: 0 0 20px 20px;
    border-top: 5px dashed rgb(56, 28, 78);
    border-left: 3px solid rgb(225, 199, 247);
    border-right: 3px solid rgb(225, 199, 247);
    border-bottom: 1px solid rgb(225, 199, 247);
}
.comment-author {
    flex: 0 0 200px;
    background-color: rgb(18, 18, 114);
    border-radius: 5px;
    padding: 20px;
}
.your-comment .comment-author {
    background-color: rgb(13, 100, 42);
}
.comment-text {
    flex-basis: 6 0 80%;
    text-align: left;
    margin-left: 50px;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 128, 0.233);
    border-radius: 5px;
}
.pfp, .mini-pfp {
    border-radius: 50%;
    object-fit: cover;
}
.pfp {
    width: 100px;
    height: 100px;
}
.preview-author {
    flex: 1 4 150px;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 15px;
}
.preview-text {
    align-self: flex-start;
    flex: 4 1 350px;
    overflow: hidden;
    height: 100%;
}
.mini-pfp {
    width: 50px;
    height: 50px;
}
#comment-container {
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-flow: row wrap;
}
#comment-box {
    flex: 7 1 70%;
    height: var(--editorHeight);
    margin-right: 50px;
}
div.tox.tox-tinymce {
    width: 100%;
    border-radius: 10px;
}
#tinymce {
    cursor: text;
}
#comment-submitter {
    flex: 1 1 250px;
    height: 150px;
}
.comment-buttons {
    flex: 0 0 200px;
    position: relative;
    justify-self: flex-end;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: auto;
}
.delete-button {
    width: 180px;
    height: 60px;
    border-radius: 3px;
    background-color: rgb(148, 12, 12);
    padding: 10px;
    cursor: no-drop;
}
.thread:nth-child(even) {
    background-color:rgb(71, 42, 95);
    border: 2px solid rgb(149, 93, 175);
}

#thread-viewer {
    display: block;
    position: absolute;
    top: 150px;
    left: 5%;
    width: 90%;
    min-height: 500px;
    background-color: rgb(58, 128, 219);
    border-radius: 20px;
    transform: scale(1);
    transition: transform .4s ease;
}
#thread-viewer.hidden {
    transform: scale(0);
}
#thread-contents {
    transition: height .5s ease;
    padding-bottom: 50px;
}
.viewer-backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background-color: rgba(213, 104, 235, 0.5);
    opacity: 1;
    transition: opacity .7s ease;
    cursor: zoom-out;
  }
.viewer-backdrop.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Small Screen changes */
@media screen and (max-width: 800px){
    .threader, .preview-text, .preview-text * {
        font-size: 12px;
    }
    .thread {
        padding: 10px;
    }
}