:root {
    --editorHeight: 0px;
}
#return-message {
    position: fixed;
    bottom: 50px;
    left: 50px;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    border-radius: 4px;
    background-color: rgb(49, 92, 47);
    padding: 10px;
    transition: left .3s ease-out, bottom .3s ease-in;
    z-index: 2;
}
#return-message.revealed {
    -webkit-animation: flashMessage 10s;
            animation: flashMessage 10s;
}
@media screen and (max-width: 700px){
    #return-message {
        left: 10px;
        bottom: 10px;
    }
}
@-webkit-keyframes flashMessage {
    0%, 100% {
        -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
    }
    5%, 95% {
        -webkit-transform: scale(.8, .8);
                transform: scale(.8, .8);
    }
    10%, 90% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}
@keyframes flashMessage {
    0%, 100% {
        -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
    }
    5%, 95% {
        -webkit-transform: scale(.8, .8);
                transform: scale(.8, .8);
    }
    10%, 90% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}
#thread-index {
    display: none;
}
#new-thread-zone {
    margin: 40px auto;
}
#new-thread-zone > * {
    margin-right: 30px;
    margin-bottom: 30px;
}
.threader {
    flex: 1 0 125px;
}
.thread {
    display: flex;
    flex-flow: row nowrap;
    text-align: left;
    width: 80%;
    height: 156px;
    margin: 20px auto;
    padding: 30px;
    background-color: rgb(97, 63, 124);
    border: 2px solid rgb(186, 131, 211);
    border-radius: 30px;
    cursor: zoom-in;
    overflow: hidden;
}

  /*======================*/
 /* Active thread styles */
/*======================*/

#thread-contents {
    transition: height .5s ease;
    padding-bottom: 50px;
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#thread-title-container {
    visibility: visible;
    margin: 0 50px;
    height: 140px;
    transition: height .3s ease-in-out, padding .3s ease-in-out;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    /* justify-content: baseline; */
    justify-content: flex-start;
    align-items: center;
}
#thread-title-container.hidden {
    height: 0;
    padding: 0;
}
#thread-title, #thread-edit {
    margin-left: 50px;
    flex: 1 1 auto;
}
#thread-title {
    margin: 0 50px;
    height: 120px;
}
#thread-title-container #thread-title {
    height: 120px;
    padding: 0;
    margin: 0;    
}

#thread-edit {
    flex: 0 0 200px;
}
#thread-edit a {
    cursor: pointer;
    user-select: none;
}
#thread-contents #title-change {
    visibility: visible;
    height: 100px;
    flex: 1 0 90%;
    margin: 20px;
    transition: height .3s ease-in-out, margin .3s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
#thread-contents #title-change.hidden {
    height: 0;
    margin: 0;
}
#thread-contents #title-change > input {
    flex: 0 1 calc(100% - 295px);
    height: 80px;
    margin-right: 15px;
    transition: height .3s ease, margin .3s ease, flex .3s ease;
}
#thread-contents #title-change > button {
    margin-right: 15px;
    flex: 0 1 100px;
    height: 60px;
    transition: height .3s ease;
}
@media screen and (max-width: 900px){
    #thread-contents #title-change {
        height: 130px;
    }
    #thread-contents #title-change > input {
        flex: 1 1 calc(100% - 50px);
        height: 50px;
        margin-bottom: 8px;
    }
    #thread-contents #title-change > button {
        height: 48px;
    }
}
#thread-delete {
    position: absolute;
    bottom: 6px;
    right: 0px;
}
#thread-delete button {
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 20px;
}
#comments, #comments-container {
    flex: 1 0 100%;
}
.comment{
    background-color:rgb(24, 100, 201);
    width: 90%;
    margin: 15px auto;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
}
.your-comment {
    background-color: rgb(19, 138, 58);
}
.threader, .preview-text, .preview-text * {
    font-size: 16px;
    transition: font-size .3s ease-in-out;
}
.threader, .first-comment, .last-comment {
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
}
.comment-previews {
    flex: 2 2 80%;
    height: 156px;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}
.first-comment, .last-comment {
    flex: 2 2 40%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 15px;
}
.first-comment {
    background-color:rgb(115, 60, 218);
    border-radius: 20px 20px 0 0;
    border-top: 1px solid rgb(225, 199, 247);
    border-left: 3px solid rgb(225, 199, 247);
    border-right: 3px solid rgb(225, 199, 247);
    border-bottom: 5px dashed rgb(56, 28, 78);
}
.last-comment{
    background-color:rgb(115, 60, 218);
    border-radius: 0 0 20px 20px;
    border-top: 5px dashed rgb(56, 28, 78);
    border-left: 3px solid rgb(225, 199, 247);
    border-right: 3px solid rgb(225, 199, 247);
    border-bottom: 1px solid rgb(225, 199, 247);
}
.comment-author {
    flex: 0 0 200px;
    background-color: rgb(18, 18, 114);
    border-radius: 5px;
    padding: 20px;
}
.your-comment .comment-author {
    background-color: rgb(13, 100, 42);
}
.comment-text {
    flex-basis: 6 0 80%;
    text-align: left;
    margin-left: 50px;
    margin-right: 20px;
    padding: 20px;
    border: 2px solid rgba(0, 0, 128, 0.233);
    border-radius: 5px;
}
.pfp, .mini-pfp {
    border-radius: 50%;
    object-fit: cover;
}
.pfp {
    width: 100px;
    height: 100px;
}
.preview-author {
    flex: 1 4 150px;
    display: flex;
    flex-flow: column nowrap;
    margin-right: 15px;
}
.preview-text {
    align-self: flex-start;
    flex: 4 1 350px;
    overflow: hidden;
    height: 100%;
}
.mini-pfp {
    width: 50px;
    height: 50px;
}
#comment-container {
    flex: 1 1 calc(100% - 100px);
    margin: 50px 50px 0px 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#comment-box {
    flex: 7 1 70%;
    height: var(--editorHeight);
    margin-right: 50px;
    margin-bottom: 20px;
}
div.tox.tox-tinymce {
    width: 100%;
    border-radius: 10px;
}
#tinymce {
    cursor: text;
}
#comment-submitter {
    flex: 0 1 250px;
    height: 150px;
}
.comment-buttons {
    flex: 0 0 200px;
    position: relative;
    justify-self: flex-end;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: auto;
}
.delete-button {
    width: 180px;
    height: 60px;
    border-radius: 3px;
    background-color: rgb(148, 12, 12);
    padding: 10px;
    cursor: no-drop;
}
.thread:nth-child(even) {
    background-color:rgb(71, 42, 95);
    border: 2px solid rgb(149, 93, 175);
}

#thread-viewer {
    display: block;
    position: absolute;
    top: 160px;
    left: 5%;
    width: 90%;
    min-height: 500px;
    background-color: rgb(58, 128, 219);
    border-radius: 20px;
    transform: scale(1);
    transition: transform .4s ease;
}
#thread-viewer.hidden {
    transform: scale(0);
}
.viewer-backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background-color: rgba(213, 104, 235, 0.5);
    opacity: 1;
    transition: opacity .7s ease;
    cursor: zoom-out;
    z-index: 0;
  }
.viewer-backdrop.hidden {
    opacity: 0;
    pointer-events: none;
}

/* Small Screen changes */
@media screen and (max-width: 800px){
    .threader, .preview-text, .preview-text * {
        font-size: 12px;
    }
    .thread {
        padding: 10px;
    }
}