/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
	--editorHeight: 0px;
    --bodyGradient: linear-gradient(-10deg, rgb(209, 105, 2), rgba(94, 49, 105, 1) 40%, rgba(44, 23, 136, 1) 80%, rgba(46, 8, 77, 1));
    --headerLinkColor: rgb(174, 247, 225);
    --linkColor: rgb(128, 235, 203);
    --linkBGColor: rgba(169, 126, 204, .7);
}

body {
    background: var(--bodyGradient);
}
#header-links a, #header-links a:visited {
    background-color: var(--linkBGColor);
    -webkit-box-shadow: 0px 0px 7px 7px var(--linkBGColor);
            box-shadow: 0px 0px 7px 7px var(--linkBGColor);
    font-weight: 700;
    color: var(--headerLinkColor);
}
a, a:visited {
	color: var(--linkColor);
	text-decoration: none;
}

#hidden-issue-id, #hidden-project-id, #hidden-task-id {
    display: none;
}
#search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
}
#search-headers {
    display: flex;
    flex-flow: row wrap;
}
#search-form h2 {
    font-size: 40px;
    transition: font-size .3s ease-in-out;
}
.search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    flex: 1 1 100%;
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#search-query {
    flex: 1 1 60%;
    max-width: 60%;
    margin-left: 50px;
    display: inline-block;
    font-size: 30px;
    height: 45px;
}
.search-bar button {
    padding: 10px 20px;
    margin: 20px;
}
.testdiv {
    display: inline-block;
    width: 50px;
}
#search {
    display: inline-block;
    width: min(800px, 80vw);
    margin-right: 100px;
}
#search-results .hidden {
    height: 0;
    margin: 0;
    padding: 0;
}
#issue-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}
.search-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    justify-items: flex-start;
    border: 3px solid rgb(253, 144, 80);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    color: rgb(54, 1, 97);
    -webkit-transform: scaleY(0), translateY(20px);
        -ms-transform: scaleY(0), translateY(20px);
            transform: scaleY(0), translateY(20px);
    -webkit-transition: .5s transform ease-out, .5s translate ease-out;
    -o-transition: .5s transform ease-out, .5s translate ease-out;
    transition: .5s transform ease-out, .5s translate ease-out;
    -webkit-animation: .5s showSearchResult ease-out forwards;
            animation: .5s showSearchResult ease-out forwards;
}
@-webkit-keyframes showSearchResult {
    0% {
        -webkit-transform: scaleY(0), translateY(20px);
                transform: scaleY(0), translateY(20px);
    }
    100% {
        -webkit-transform: scale(1), translate(0);
                transform: scale(1), translate(0);
    }
}
@keyframes showSearchResult {
    0% {
        -webkit-transform: scaleY(0), translateY(20px);
                transform: scaleY(0), translateY(20px);
    }
    100% {
        -webkit-transform: scale(1), translate(0);
                transform: scale(1), translate(0);
    }
}
.search-result.leaving {

}
#issue-results .search-result {
    background: -o-linear-gradient(120deg, rgb(255, 158, 102), rgb(252, 211, 201));
    background: linear-gradient(-30deg, rgb(255, 158, 102), rgb(252, 211, 201));
    border: 3px solid rgb(253, 144, 80);
}
#user-results .search-result {
    background: -o-linear-gradient(120deg, rgb(92, 95, 255), rgb(166, 104, 207));
    background: linear-gradient(-30deg, rgb(92, 95, 255), rgb(166, 104, 207));
    border: 3px solid rgb(90, 51, 233);
    color: rgb(255, 246, 193);
}
#project-results .search-result {
    background: -o-linear-gradient(60deg, rgb(25, 110, 96), rgb(54, 151, 62));
    background: linear-gradient(30deg, rgb(25, 110, 96), rgb(54, 151, 62));
    border: 3px solid rgb(12, 83, 71);
    color: rgb(227, 234, 255);
}
.result-name-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 3 200px;
            flex: 0 3 200px;
}
.result-name {
    color: rgb(54, 1, 97);
}
p.issue-info, p.user-bio, p.project-info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
    vertical-align: top;
    border-radius: 4px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.13);
}
p.issue-info {
    border: 2px solid rgba(253, 144, 80, .9);
}
p.user-bio {
    border: 2px solid rgba(90, 51, 233, .9);
}
p.project-info {
    border: 2px solid rgba(12, 83, 71, .9);
}
.result-thumbnail {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
h4.result-name {
    display: inline-block;
    margin: 5px 15px 3px 10px;
}
#submission {
    display: flex;
    flex-flow: row wrap;
}
#issue-submission, #project-submission {
    display: inline-block;
    width: 300px;
    margin: 20px auto;
    vertical-align: top;
    border-radius: 30px;
    padding-left: 20px;
}
#issue-submission {
    border-left: 4px solid rgb(255, 174, 82);
}
#project-submission {
    border-left: 4px solid rgb(144, 255, 190);
}
#issue-submission h2, #project-submission h2{
    text-align: center;
    margin: auto;
}
#issue-submission h2 {
    color: rgb(255, 174, 82);
}
#project-submission h2 {
    color: rgb(144, 255, 190);
}
#issue-submitter form, #project-submitter form{
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: auto;
}
#issue-submitter * .form-group, #project-submitter * .form-group{
    width: 100%;
}
#issue-submitter * input, #issue-submitter * textarea, #project-submitter * input, #project-submitter * textarea {
    width: 100%;
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
}
#issue-submitter * button, #project-submitter * button {
    width: 200px;
}
.issue-snapshot, .project-snapshot {
    width: 200px;
    height: 200px;
    text-align: left;
    margin: 15px 10px;
}
.issue-snapshot:hover img, .project-snapshot:hover img {
    filter: contrast(170%) grayscale(30%) brightness(1.6);
}
.issue-snapshot:hover a h4, .project-snapshot:hover img a h4{
    color: rgb(255, 221, 25);
}
.issue-thumbnail, .project-thumbnail {
    width: 200px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 10px;
}
.issue-thumbnail img, .project-thumbnail img {
    max-width: 200px;
    max-height: 150px;
    margin: auto;
    border-radius: 10px;
    transition: filter .5s ease-out;
}
.issue-snapshot a h4, .project-snapshot a h4 {
    margin: auto;
    text-align: center;
    transition: color .4s ease-out;
}
#issue-browse, #project-browse {
    width: 100%;
    max-width: 75vw;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap-reverse;
            flex-flow: row wrap-reverse;
    overflow-y: auto;
    border-radius: 15px;
    border: 6px solid rgb(77, 30, 109);
    background-color: rgba(187, 255, 215, 0.116);
}
.portrait {
    max-height: 500px;
    max-width: 500px;
}

  /********************/
 /* Wiki page styles */
/********************/
#name-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 20px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.issue-name {
    width: 100%;
    display: inline-block;   
    padding: 20px;
    font-size: 50px;
}
input.issue-name {
    width: 700px;
}
#overview-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#table-of-contents {
    flex: 1 1 calc(33% - 140px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 50px 50px 50px;
    padding: 20px;
    background-color:rgba(58, 172, 153, 0.404);
    border-radius: 30px;
}
#table-of-contents a {
    font-size: 35px;
}
#overview-area div:nth-child(2) {
    flex: 1 1 67%;
}
#image-container {
    flex: 1 1 67%;
    margin: 40px auto 20px auto;
}
#description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    /* overflow: hidden; */
}
#description-text-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 75vw;
            flex: 1 0 75vw;
    margin-right: 50px;
    padding-right: 5vw;
    margin-bottom: 30px;
}
#description-text {
    width: 70vw;
    padding-right: 50px;
    white-space: pre-wrap;
    text-align: left;
}
#description-editor-container {
    width: 1400px;
    height: var(--editorHeight);
    display: inline-block;
}
#connections-container, #projects-container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 30px auto;
    overflow-x: visible;
}
.result {
    z-index: 5;
	width: 80%;
    text-align: center;
	background-color: #c898ed;
	border: none;
	border-radius: 6px;
    margin: 5px;
}
#issue-searchbar, #project-searchbar {
    /* position: fixed; */
    -ms-flex-preferred-size: 4 1 40%;
        flex-basis: 4 1 40%;
    display: flexbox;
    min-height: 100px;
    max-height: 500px;
    right: 6vw;
    top: 8vh;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    z-index: 3;
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}
#issue-searchbar {
    background-color: rgb(71, 5, 77);
}
#project-searchbar {
    background-color:rgb(49, 92, 47)
}
#issue-searchbar.hidden, #project-searchbar.hidden {
    width: 0;
    overflow: hidden;
}
.searchbar-heading {
    min-height: 40px;
    max-height: 80px;
    padding: 10px !important;
}
#issue-searchbar > div, #project-searchbar > div {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
#issue-searchbar > div {
    background-color: rgb(107, 8, 116);
}
#project-searchbar > div {
    background-color: rgb(18, 138, 38);
}
#issue-searchbar input, #project-searchbar input {
    width: 80%;
    height: 40px;
    margin: 10px auto;
}
#issue-searchbar button, #project-searchbar button {
    font-size: 18px;
    height: 1.5em;
    width: 80%;
    margin: 10px auto 20px auto;
}
#found-issue-links, #found-project-links {
    height: 320px;
    width: 90%;
    overflow-y: scroll;
}
#found-issue-links {
    /* background-color:rgb(33, 33, 143); */
}
#found-project-links {
    
}
#found-issue-links div.result {
    /* background-color: rgb(190, 190, 245); */
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    background-color: rgb(255, 158, 102);
    border: 2px solid rgb(253, 144, 80);
    padding: 7px;
    margin: 10px auto;
    border-radius: 3px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#found-project-links div.result {
    /* background-color: rgb(190, 190, 245); */
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    background-color: rgb(191, 217, 255);
    border: 2px solid rgb(140, 186, 255);
    padding: 7px;
    margin: 10px auto;
    border-radius: 3px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#issue-connections, #project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 400px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 650px;
            flex: 0 1 650px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    border: 3px solid rgb(58, 38, 71);
    border-radius: 5px;
    background-color: rgba(187, 255, 215, 0.116);
    padding: 20px;
    
}
#issue-connections p, #project-connections p {
    margin-bottom: 30px;
}
.connection {
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8px auto;
    -webkit-transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
}
.link-info, .project-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 275px;
            flex: 1 0 275px;
}
.link-info, .project-info, .link-info *, .project-info * {
    font-size: 20px;
    -webkit-transition: font-size .3s ease-in-out, width .3s ease-in-out, color .5s ease-out;
    -o-transition: font-size .3s ease-in-out, width .3s ease-in-out, color .5s ease-out;
    transition: font-size .3s ease-in-out, width .3s ease-in-out, color .5s ease-out;
} 
.link-votes, .project-votes{
    margin-left: 25px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.link-votes button, .project-votes button {
    height: 40px;
    width: 130px;
    padding: 0px 10px;
    margin: 5px 10px;
}
.upvote.up {
    background-color: green;
}
.downvote.down {
    background-color: red;
}


  /******************/
 /* Editor styling */
/******************/

#image-input {
    display: block;
    width: 700px;
    margin: 10px auto;
    height: 1rem;
}
.mutable {
    white-space: nowrap;
    overflow: hidden;
}
.topic-name {
    white-space: normal;
}
.mutable, #description-editor-container, #description-text-container, #image-input {
    -webkit-transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out, -webkit-box-flex .5s ease-in-out;
    transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out, -webkit-box-flex .5s ease-in-out;
    -o-transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, flex .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out;
    transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, flex .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out;
    transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, flex .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out, -webkit-box-flex .5s ease-in-out, -ms-flex .5s ease-in-out;
}

.mutable.hidden, #description-text-container.hidden, #cancel-button.hidden {
    visibility: visible;
    width: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    white-space: nowrap;
}
#description-text-container.hidden {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0px;
            flex: 0 1 0px;
}
#description-editor-container {
    -webkit-transition: width .5s ease-in-out, height .5s ease-in-out;
    -o-transition: width .5s ease-in-out, height .5s ease-in-out;
    transition: width .5s ease-in-out, height .5s ease-in-out;
}
#description-editor-container.hidden {
    width: 0;
    height: 0;
}
#image-input.hidden {
    width: 0;
}
#topic-image {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
#topic-image.shrunk {
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}
#editing-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    justify-items: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 30px;
}
#editing-block > * {
    margin-right: 30px;
}
#return-message {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    border-radius: 4px;
    background-color: rgb(49, 92, 47);
    padding: 10px;
}
#return-message.revealed {
    -webkit-animation: flashMessage 10s;
            animation: flashMessage 10s;
}
@-webkit-keyframes flashMessage {
    0%, 100% {
        -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
    }
    5%, 95% {
        -webkit-transform: scale(.8, .8);
                transform: scale(.8, .8);
    }
    10%, 90% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}
@keyframes flashMessage {
    0%, 100% {
        -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
    }
    5%, 95% {
        -webkit-transform: scale(.8, .8);
                transform: scale(.8, .8);
    }
    10%, 90% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}
#editing-block a {
    height: 40px;
}
#edit-button, #cancel-button {
    display: inline-block;
    width: 125px;
    -webkit-transition: width .5s ease;
    -o-transition: width .5s ease;
    transition: width .5s ease;
    overflow: hidden;
}
#edit-button button, #cancel-button button {
    width: 115px;
}
#cancel-button.hidden {
    width: 0px;
}
#discussion-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    justify-items: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 30px;
}
#qr {
    margin-top: 150px;
}
@media screen and (max-width: 1000px){
    .connection {
        width: 500px;
    }
    .link-votes, .project-votes {
        -webkit-transform: scale(.8);
            -ms-transform: scale(.8);
                transform: scale(.8);
    }
    .link-info, .project-info, .link-info *, .project-info * {
        font-size: 16px;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 225px;
                flex: 1 0 225px;
    }
    #issue-connections {
        padding: 20px 7px;
    }
    #search-form h2 {
        font-size: 30px;
    }
} 
@media screen and (max-width: 800px){
    .connection {
        width: 400px;
    }
    .link-votes, .project-votes {
        -webkit-transform: scale(.65);
            -ms-transform: scale(.65);
                transform: scale(.65);
    }
    .link-info, .project-info, .link-info *, .project-info * {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 150px;
                flex: 1 0 150px;
        font-size: 12px;
    }
    #connections-container, #projects-container {
        width: 94%;
    }
}