/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

:root {
	--editorHeight: 0px;
    --bodyGradient: linear-gradient(-10deg, rgb(209, 105, 2), rgba(94, 49, 105, 1) 40%, rgba(44, 23, 136, 1) 80%, rgba(46, 8, 77, 1));
    --headerLinkColor: rgb(174, 247, 225);
    --linkColor: rgb(128, 235, 203);
    --linkBGColor: rgba(200, 152, 237, .7);
    --searchResultheight: 130px;
}

body {
    background: var(--bodyGradient);
}
#header-links a, #header-links a:visited {
    background-color: var(--linkBGColor);
    -webkit-box-shadow: 0px 0px 7px 7px var(--linkBGColor);
            box-shadow: 0px 0px 7px 7px var(--linkBGColor);
    font-weight: 700;
    color: var(--headerLinkColor);
}
#header-links a:not(:first-child) {
    margin-left: 30px;
}
a, a:visited {
	color: var(--linkColor);
	text-decoration: none;
}

#hidden-issue-id, #hidden-project-id, #hidden-task-id, #hidden-location-id, #hidden-geojson {
    display: none;
}
#search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
}
#search-headers {
    display: flex;
    flex-flow: row wrap;
}
#search-form h2 {
    font-size: 40px;
    transition: font-size .3s ease-in-out;
}
.search-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    flex: 1 1 100%;
    display: flex;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#search-query {
    flex: 1 1 60%;
    max-width: 60%;
    margin-left: 50px;
    display: inline-block;
    font-size: 30px;
    height: 45px;
}
.search-bar button {
    padding: 10px 20px;
    margin: 20px;
}
.testdiv {
    display: inline-block;
    width: 50px;
}
#search {
    display: inline-block;
    width: 80vw;
    margin-right: 100px;
}
#search-results > * {
    transition: height .5s ease-out, margin .5s ease-out, padding .5s ease-out;
}
#search-results > h2 {
    height: 60px;
    visibility: visible;
    overflow: hidden;
}

#search-results > h2.hidden {
    height: 0;
    margin: 0;
    padding: 0;
}
#issue-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}
#adoption-search-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
#adoption-search-results .search-result {
    cursor: pointer;
}
.search-result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    justify-items: flex-start;
    height: var(--searchResultHeight);
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    visibility: visible !important;
    overflow: hidden;
    color: rgb(54, 1, 97);
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: .5s transform ease-out, .5s translate ease-out, .5s height ease-out;
    -o-transition: .5s transform ease-out, .5s translate ease-out, .5s height ease-out;
    transition: .5s transform ease-out, .5s translate ease-out, .5s height ease-out;
    -webkit-animation: .5s showSearchResult ease-in-out forwards;
            animation: .5s showSearchResult ease-in-out forwards;
}
@-webkit-keyframes showSearchResult {
    0% {
        -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
                transform: translateY(20px);
        height: 0;
        border-width: 0;
    }
    100% {
        -webkit-transform: translate(0);
            -ms-transform: translate(0);
                transform: translate(0);
        height: var(--searchResultheight);
        border-width: 3px;
    }
}
@keyframes showSearchResult {
    0% {
        -webkit-transform: translateY(20px);
            -ms-transform: translateY(20px);
                transform: translateY(20px);
        height: 0;
        border-width: 0;
    }
    100% {
        -webkit-transform: translate(0);
            -ms-transform: translate(0);
                transform: translate(0);
        height: var(--searchResultheight);
        border-width: 3px;
    }
}
.search-result.leaving {
    -webkit-animation: .5s hideSearchResult ease-out forwards;
            animation: .5s hideSearchResult ease-out forwards;
}
@-webkit-keyframes hideSearchResult {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        height: var(--searchResultheight);
        border-width: 3px;
    }
    100% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
        height: 0;
        margin: 0;
        padding: 0;
        border-width: 0;
    }
}
@keyframes hideSearchResult {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
        height: var(--searchResultheight);
        border-width: 3px;
    }
    100% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
        height: 0;
        margin: 0;
        padding: 0;
        border-width: 0;
    }
}
.search-result * {
    transition: .5s ease-in-out all;
}
.search-result.leaving * {
    height: 0;
    padding: 0;
    border-width: 0;
    margin: 0;
    font-size: 0;
}
#issue-results .search-result {
    background: -o-linear-gradient(120deg, rgb(255, 158, 102), rgb(252, 211, 201));
    background: linear-gradient(-30deg, rgb(255, 158, 102), rgb(252, 211, 201));
    border-color: rgb(253, 144, 80);
    border-style: solid;
}
#user-results .search-result {
    background: -o-linear-gradient(120deg, rgb(92, 95, 255), rgb(166, 104, 207));
    background: linear-gradient(-30deg, rgb(92, 95, 255), rgb(166, 104, 207));
    border-color: rgb(90, 51, 233);
    color: rgb(255, 246, 193);
}
#project-results .search-result {
    background: -o-linear-gradient(60deg, rgb(148, 10, 51), rgb(148, 54, 151));
    background: linear-gradient(30deg, rgb(148, 10, 51), rgb(148, 54, 151));
    border-color: rgb(102, 2, 57);
    color: rgb(233, 208, 250);
}
#project-results .search-result .result-name {
    color: rgb(225, 193, 247);
}
#location-results .search-result {
    background: -o-linear-gradient(60deg, rgb(0, 151, 106), rgb(3, 124, 172));
    background: linear-gradient(30deg, rgb(0, 151, 106), rgb(3, 124, 172));
    border-color: rgb(8, 87, 63);
    color: rgb(186, 245, 227);
}
#adoption-search-results .search-result {
    width: 400px;
    height: 100px !important;
    background: -o-linear-gradient(60deg, rgb(104, 210, 252), rgb(137, 212, 52));
    background: linear-gradient(30deg, rgb(104, 210, 252), rgb(137, 212, 52));
}
.result-name-link {
    -webkit-box-flex: 0;
        -ms-flex: 0 3 200px;
            flex: 0 3 200px;
}
.result-name {
    color: rgb(54, 1, 97);
    height: 100px;
}

p.issue-info, p.user-bio, p.project-info, p.location-info {
    -webkit-box-flex: 0;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
    vertical-align: top;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.13);
    height: calc(var(--searchResultheight) - 30px);
}
p.issue-info {
    border-color: rgba(253, 144, 80, .9);
}
p.user-bio {
    border-color: rgba(90, 51, 233, .9);
}
p.project-info {
    border-color: rgba(12, 83, 71, .9);
}
p.location-info {
    border-color: rgb(8, 87, 63);
}
.result-thumbnail {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
h4.result-name {
    display: inline-block;
    margin: 5px 15px 3px 10px;
}
#submission {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#issue-submission, #project-submission {
    display: inline-block;
    width: 300px;
    flex: 0 0 300px;
    margin: 30px 20px 20px 20px;
    vertical-align: top;
    border-radius: 30px;
    padding-left: 20px;
}
#issue-submission {
    border-left: 4px solid rgb(255, 174, 82);
}
#project-submission {
    border-left: 4px solid rgb(144, 255, 190);
}
#issue-submission h2, #project-submission h2{
    text-align: center;
    margin: auto;
}
#issue-submission h2 {
    color: rgb(255, 174, 82);
}
#project-submission h2 {
    color: rgb(144, 255, 190);
}
#issue-submitter form, #project-submitter form{
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin: auto;
}
#issue-submitter * .form-group, #project-submitter * .form-group{
    width: 100%;
}
#issue-submitter * input, #issue-submitter * textarea, #project-submitter * input, #project-submitter * textarea {
    width: 100%;
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
}
#issue-submitter * button, #project-submitter * button {
    width: 200px;
}
.issue-snapshot, .project-snapshot {
    width: 200px;
    height: 200px;
}
.issue-snapshot, .project-snapshot, .local-issue-snapshot, .local-project-snapshot {
    text-align: left;
    margin: 15px 10px;
    transition: width .3s ease-in-out, height .3s ease-in-out;
}
.local-issue-snapshot, .local-project-snapshot {
    width: 90%;
    margin: 12px auto 12px auto;
    display: flex;
    flex-flow: row wrap;
}
.local-issue-snapshot > * {
    border-color: rgb(185, 145, 218);
    border-style: solid;
}
.local-issue-snapshot > a, .local-project-snapshot > a {
    flex: 1 0 200px;
    margin: 0px 0 10px -15px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(110, 4, 190);
    border-radius: 30px 100px 0 0 / 80% 65% 0 0;
    border-width: 7px 3.5px 0 7px;
}
.local-issue-snapshot .info, .local-project-snapshot .info {
    margin: 0px 15px 10px 0;
    flex: 3 0 50%;
    background-color: rgb(236, 143, 28, .67);
    border-radius: 100px 30px 0 0 / 65% 80% 0 0;
    border-width: 7px 7px 0 3.5px;
    padding: 15px 12px 12px 70px;
    max-height: 300px;
}
#localizer-link {
    padding: 15px;
    margin: 20px 10px;
    flex: 0 1 250px;
}
.issue-snapshot:hover img, .project-snapshot:hover img, .local-issue-snapshot:hover img, .local-project-snapshot:hover img {
    filter: contrast(170%) grayscale(30%) brightness(1.6);
}
.issue-snapshot:hover a h4, .project-snapshot:hover img a h4 {
    color: rgb(255, 221, 25);
}
.issue-thumbnail, .project-thumbnail {
    width: 200px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-bottom: 10px;
    transition: width .3s ease-in-out, height .3s ease-in-out;
}
.issue-thumbnail img, .project-thumbnail img {
    max-width: 200px;
    max-height: 150px;
    margin: auto;
    border-radius: 10px;
    transition: max-width .3s ease-in-out, max-height .3s ease-in-out, filter .5s ease-out;
}
.tiny.issue-thumbnail, .tiny.project-thumbnail {
    width: 100px;
    height: 100px;
}
.tiny.issue-thumbnail img, .tiny.project-thumbnail img {
    max-height: 100px;
    max-width: 100px;
}
@media screen and (max-width: 800px){
    .issue-snapshot, .project-snapshot {
        width: 150px;
        height: 150px;
    }
    .issue-thumbnail, .project-thumbnail {
        width: 150px;
        height: 100px;
    }
    .issue-thumbnail img, .project-thumbnail img {
        max-width: 150px;
        max-height: 100px;
    }
}
.issue-snapshot a h4, .project-snapshot a h4, .local-issue-snapshot a h4, .local-project-snapshot a h4 {
    margin: auto;
    text-align: center;
    transition: color .4s ease-out;
}
#issue-browse, #project-browse {
    width: 100%;
    max-width: 75vw;
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    overflow-y: auto;
    border-radius: 15px;
}
#issue-browse {
    border: 6px solid rgb(77, 30, 109);
    background-color: rgba(12, 142, 151, 0.26);
}
#project-browse {
    border: 6px solid rgb(133, 42, 0);
    background-color: rgba(202, 183, 12, 0.205)
}
.portrait {
    max-height: 500px;
    max-width: 500px;
}

  /********************/
 /* Wiki page styles */
/********************/
#name-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 20px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.topic-name {
    width: 100%;
    display: inline-block;   
    padding: 20px;
    font-size: 50px;
}
input.topic-name {
    width: 700px;
}
#overview-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#table-of-contents {
    flex: 1 1 calc(33% - 140px);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 50px 50px 50px;
    padding: 20px;
    background-color:rgba(58, 172, 153, 0.404);
    border-radius: 30px;
}
#table-of-contents a {
    font-size: 35px;
    cursor: s-resize;
}

#image-container, #search {
    flex: 1 1 67%;
    margin: 40px auto 20px auto;
}
#description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    /* overflow: hidden; */
}
#description-text-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 75vw;
            flex: 1 0 75vw;
    margin-right: 50px;
    padding-right: 5vw;
    margin-bottom: 30px;
}
#description-text {
    width: 70vw;
    padding-right: 50px;
    white-space: pre-wrap;
    text-align: left;
}
#description-editor-container {
    width: 1400px;
    height: var(--editorHeight);
    display: inline-block;
}
#rolling-tray {
    height: var(--editorHeight);
    transition: height .5s ease-in-out, padding .5s ease-in-out;
    visibility: visible;
    overflow: hidden;
    padding: 30px 0;
    margin: 0;
}
#versions {
    margin: 35px 0 0 0;
}
#rolling-tray.hidden {
    height: 0;
    padding: 0;
}
#revision-text {
    padding: 20px;
    height: calc(var(--editorHeight) - 150px);
    margin: 25px 10px;
    color: #51310c;
    border-radius: 20px 10px 10px 0;
    background-color: #ebd097;
    overflow-y: auto;
}
#revision-text a, #revision-text a:visited {
    color: rgb(172, 19, 143);
}
#revision-text a:hover {
    color: rgb(225, 47, 192);
}
#local-issue-description {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
}
#local-issue-description > p {
    flex: 1 1 500px;
    margin-right: 80px;
    margin-bottom: 30px;
    transition: font-size .3s ease, margin .3s ease;
}
@media screen and (max-width: 800px){
    #local-issue-description > p {
        margin-right: 15px;
    }
}
#local-issue-description > .advice {
    flex: 1 1 600px;
    margin-top: 0;
}
#local-issue-description > ul.advice {
    list-style: outside disc;
    padding-left: 40px;
}
#connections-container, #projects-container, #local-issue-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    align-items: center;
    margin: 30px auto;
    overflow-x: visible;
}
.result {
    z-index: 5;
	width: 80%;
    text-align: center;
	background-color: #c898ed;
	border: none;
	border-radius: 6px;
    margin: 5px;
}
#issue-searchbar, #project-searchbar {
    /* position: fixed; */
    -ms-flex-preferred-size: 1 1 35%;
    min-width: 300px;
    flex: 1 1 35%;
    min-height: 100px;
    max-height: 500px;
    /* margin-right: 30px; */
    right: 6vw;
    top: 8vh;
    display: flex;
    flex-flow: column nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
    text-align: center;
    border-radius: 10px;
    z-index: 3;
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right;
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
}
#issue-searchbar {
    background-color: rgb(71, 5, 77);
}
#project-searchbar {
    background-color:rgb(49, 92, 47)
}
#issue-searchbar.hidden, #project-searchbar.hidden {
    width: 0;
    overflow: hidden;
}
.searchbar-heading {
    min-height: 40px;
    max-height: 80px;
    padding: 10px !important;
}
#issue-searchbar > div, #project-searchbar > div {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
#issue-searchbar > div {
    background-color: rgb(107, 8, 116);
}
#project-searchbar > div {
    background-color: rgb(18, 138, 38);
}
#issue-searchbar input, #project-searchbar input {
    width: 80%;
    height: 40px;
    margin: 10px auto;
}
#issue-searchbar button, #project-searchbar button {
    font-size: 18px;
    height: 1.5em;
    width: 80%;
    margin: 10px auto 20px auto;
}
#found-issue-links, #found-project-links {
    height: 320px;
    width: 90%;
    overflow-y: scroll;
}
#found-issue-links {
    /* background-color:rgb(33, 33, 143); */
}
#found-project-links {
    
}
#found-issue-links div.result {
    /* background-color: rgb(190, 190, 245); */
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    background-color: rgb(255, 158, 102);
    border: 2px solid rgb(253, 144, 80);
    padding: 7px;
    margin: 10px auto;
    border-radius: 3px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#found-project-links div.result {
    /* background-color: rgb(190, 190, 245); */
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    background-color: rgb(191, 217, 255);
    border: 2px solid rgb(140, 186, 255);
    padding: 7px;
    margin: 10px auto;
    border-radius: 3px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#issue-connections, #project-list, #local-issue-list, #local-project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 400px;
    -webkit-box-flex: 0;
        -ms-flex: 3 1 650px;
            flex: 3 1 650px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 30px 30px 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    border-radius: 8px;    
    padding: 20px;
}
#issue-connections {
    border: 4px solid rgb(71, 5, 77);
    background-color: rgba(187, 255, 215, 0.116);
}
#project-list {
    border: 4px solid rgb(133, 42, 0);
    background-color: rgba(202, 183, 12, 0.205);
}
#local-issue-list {
    background-color: rgba(84, 14, 113, .41);
    border: 6px solid rgb(198, 110, 20);
    border-radius: 16px;
    max-height: 600px;
}
#local-project-list {
    background-color: rgba(22, 113, 14, 0.41);
    border: 6px solid rgb(20, 204, 218);
    border-radius: 16px;
}

#issue-connections p, #project-connections p {
    margin-bottom: 30px;
}
.connection {
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 8px auto;
    -webkit-transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: width .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out;
    transition: transform .3s ease-in-out, width .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
}
.link-info, .project-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 275px;
            flex: 1 0 275px;
}
.link-info, .project-info, .link-info *, .project-info * {
    font-size: 20px;
    -webkit-transition: font-size .3s ease-in-out, width .3s ease-in-out, color .5s ease-out;
    -o-transition: font-size .3s ease-in-out, width .3s ease-in-out, color .5s ease-out;
    transition: font-size .3s ease-in-out, width .3s ease-in-out, color .5s ease-out;
} 
.link-votes, .project-votes{
    margin-left: 25px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}
.link-votes button, .project-votes button {
    height: 40px;
    width: 130px;
    padding: 0px 10px;
    margin: 5px 10px;
}
.upvote.up {
    background-color: green;
}
.downvote.down {
    background-color: red;
}

  /*/=======================/*/
 /*/ Location page styling /*/
/*/=======================/*/
#sublocations {
    display: block !important;
}
#sub-word-container {
    width: 300px;
}
#sub-word-container > * {
    width: 100%;
}
#sub-word-container .empty-message {
    display: block;
    height: 30px;
    transition: height .5s ease-out, width .5s ease-out;
    visibility: visible;
    overflow: hidden;
} 
#sub-word-container .hidden.empty-message {
    height: 0;
} 
#sub-word-container > .hidden {
    width: 0;
}
#sublocation-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 700px;
    padding: 20px;
    border-radius: 15px;
    overflow-x: auto;
    background: -o-linear-gradient(110deg, rgba(0, 143, 226, 0.2), rgba(16, 184, 170, 0.2) 40%, rgba(12, 175, 61, 0.3) 80%, rgba(21, 185, 21, 0.315));
	background: linear-gradient(110deg, rgba(0, 143, 226, 0.2), rgba(16, 184, 170, 0.2) 40%, rgba(12, 175, 61, 0.3) 80%, rgba(21, 185, 21, 0.315));
}
#sublocation-list > * {
    margin: 5px 15px;
}

#geo-relationships {
    background-color: rgba(57, 11, 223, 0.397);
    padding: 20px 30px 20px 40px;
    border-radius: 50px;
    border: 5px solid rgb(58, 172, 153);
    margin: 0 35px;
}

  /******************/
 /* Editor styling */
/******************/

#image-input {
    display: block;
    width: 700px;
    margin: 10px auto;
    height: 1rem;
}
.mutable {
    white-space: nowrap;
    overflow: hidden;
}
.topic-name {
    white-space: normal;
}
.mutable, #description-editor-container, #description-text-container, #image-input {
    -webkit-transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out, -webkit-box-flex .5s ease-in-out;
    transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out, -webkit-box-flex .5s ease-in-out;
    -o-transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, flex .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out;
    transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, flex .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out;
    transition: width .5s ease-in-out, border .5s ease-in-out, padding .5s ease-in-out, flex .5s ease-in-out, margin .5s ease-in-out, height .5s ease-in-out, font-size .5s ease-in-out, -webkit-box-flex .5s ease-in-out, -ms-flex .5s ease-in-out;
}

.mutable.hidden, #description-text-container.hidden, #cancel-button.hidden {
    visibility: visible;
    width: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    white-space: nowrap;
}
#description-text-container.hidden {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 0px;
            flex: 0 1 0px;
}
#description-editor-container {
    -webkit-transition: width .5s ease-in-out, height .5s ease-in-out;
    -o-transition: width .5s ease-in-out, height .5s ease-in-out;
    transition: width .5s ease-in-out, height .5s ease-in-out;
}
#description-editor-container.hidden {
    width: 0;
    height: 0;
}
#image-input.hidden {
    width: 0;
}
#topic-image {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
#topic-image.shrunk {
    -webkit-transform: scale(.9);
        -ms-transform: scale(.9);
            transform: scale(.9);
}
#editing-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    justify-items: flex-end;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 30px;
}
#editing-block > * {
    margin-right: 30px;
}
#return-message {
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    border-radius: 4px;
    background-color: rgb(49, 92, 47);
    padding: 10px;
}
#return-message.revealed {
    -webkit-animation: flashMessage 10s;
            animation: flashMessage 10s;
}
@-webkit-keyframes flashMessage {
    0%, 100% {
        -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
    }
    5%, 95% {
        -webkit-transform: scale(.8, .8);
                transform: scale(.8, .8);
    }
    10%, 90% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}
@keyframes flashMessage {
    0%, 100% {
        -webkit-transform: scale(0, 0);
                transform: scale(0, 0);
    }
    5%, 95% {
        -webkit-transform: scale(.8, .8);
                transform: scale(.8, .8);
    }
    10%, 90% {
        -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
    }
}
#editing-block a {
    height: 40px;
}
#edit-button, #cancel-button {
    display: inline-block;
    width: 125px;
    -webkit-transition: width .5s ease;
    -o-transition: width .5s ease;
    transition: width .5s ease;
    overflow: hidden;
}
#edit-button button, #cancel-button button {
    width: 115px;
}
#cancel-button.hidden {
    width: 0px;
}
#discussion-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    justify-items: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 30px;
}
#qr {
    margin-top: 150px;
}
@media screen and (max-width: 1000px){
    .connection {
        width: 500px;
    }
    .link-votes, .project-votes {
        -webkit-transform: scale(.8);
            -ms-transform: scale(.8);
                transform: scale(.8);
    }
    .link-info, .project-info, .user-bio, .link-info *, .project-info *, .user-bio * {
        font-size: 16px;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 225px;
                flex: 1 0 225px;
    }
    #issue-connections {
        padding: 20px 7px;
    }
    #search-form h2 {
        font-size: 30px;
    }
} 
@media screen and (max-width: 987px){
    :root {
        --searchResultheight: 265px;
    }
    p.issue-info, p.project-info, p.user-bio {
        height: calc(var(--searchResultheight) - 140px);
    }
}
@media screen and (max-width: 800px){
    #table-of-contents a {
        font-size: 30px;
    }
    .connection {
        width: 400px;
    }
    .link-votes, .project-votes {
        -webkit-transform: scale(.65);
            -ms-transform: scale(.65);
                transform: scale(.65);
    }
    .link-info, .project-info, .link-info *, .project-info * {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 150px;
                flex: 1 0 150px;
        font-size: 12px;
    }
    #connections-container, #projects-container, #local-issue-container {
        width: 94%;
    }
}