<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="/stylesheets/magnova.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/inbox.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap" rel="stylesheet">
	<base href="/">
	<title><%= title %></title>
</head>
<body>
<%- include("../partials/navbar") %>
<div id="allContent" class="expanded">
    <h1>Inbox of <%= currentUser.preferredName?.length > 0 ? currentUser.preferredName : currentUser.username %></h1>
    <h3>Messaging is in development!</h3>
    <section>
        <div id="messages">
            <p>Here is where your messages will be displayed.</p>
        </div>
    </section>
</div>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="scripts/nav.js"></script>
<script src="scripts/inbox.js"></script>
</body></html>