<%- include('../partials/header'); %>
<h1>No issues here!</h1>
<h3><em>(which is the issue...)</em></h3>
<p>Maybe you want to <a href="/wiki/61154178c1aa0c00156455b9">add a bug</a> to the list?</p>
<%- include('../partials/footer'); %>