<%- include('../partials/header'); %>
<ul>
    <% for (userListing of allUsers){ %>
        <li><a href=<%= `/users/${encodeURI(userListing.username)}` %>><%= userListing.username %></a></li>
    <% } %>
</ul>
<%- include('../partials/footer'); %>