<%- include('../partials/header'); %>
<h1>No such user!</h1>
<p>Tip: The format for user profile URLs is</p>
<p>.../users/userID</p>
<p>This format will be changed to /users/username soon :)</p>
<%- include('../partials/footer'); %>